.article__title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.article__image {
    height: 300px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
        object-fit: cover;
        height: 100%;
    }
}

.article__content {
    line-height: 1.5;
    color: #222;
}