.category-posts {
  display: grid;
  grid-template-areas:
                      "post5 post5 post6 post6"
                      "post7 post8 post9 post10"
                      "post11 post11 post12 post13"
                      "post11 post11 post14 post15";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 150px 150px 150px;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.category-posts > .posts__card:nth-child(1) {
  grid-area: post5;
}

.category-posts > .posts__card:nth-child(2) {
  grid-area: post6;
}

.category-posts > .posts__card:nth-child(3) {
  grid-area: post7;
}

.category-posts > .posts__card:nth-child(4) {
  grid-area: post8;
}

.category-posts > .posts__card:nth-child(5) {
  grid-area: post9;
}

.category-posts > .posts__card:nth-child(6) {
  grid-area: post10;
}

.category-posts > .posts__card:nth-child(7) {
  grid-area: post11;
}

.category-posts > .posts__card:nth-child(8) {
  grid-area: post12;
}

.category-posts > .posts__card:nth-child(9) {
  grid-area: post13;
}

.category-posts > .posts__card:nth-child(10) {
  grid-area: post14;
}

.category-posts > .posts__card:nth-child(11) {
  grid-area: post15;
}

@media (max-width: 768px) {
  .category-posts {
    grid-template-areas:
                      "post5 post5"
                      "post6 post11"
                      "post7 post8"
                      "post9 post10"
                      "post12 post13"
                      "post14 post15";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
  }
}

@media (max-width: 576px) {
  .category-posts {
    grid-template-areas:
                      "post5"
                      "post6"
                      "post11"
                      "post7"
                      "post8"
                      "post9"
                      "post10"
                      "post12"
                      "post13"
                      "post14"
                      "post15";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 150px);
  }
}