.footer__social {  
  border-bottom: 2px solid #c4c4c4;
  padding-bottom: 1.2em;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__social-item {
  display: block;
  width: 100%;
  color: #fff;
}

.footer__social-link {
  display: block;
  padding: 15px;
}

.footer__social-link[data-name="facebook"] {
  background: #4a639f;
}

.footer__social-link[data-name="twitter"] {
  background: #59c8ff;
}

.footer__social-link[data-name="telegram"] {
  background: #1c9cdf;
}

.footer__social-link[data-name="snapchat"] {
  background: #fffc00;
  color: #222;
}

.footer__social-link[data-name="instagram"] {
  background: #517fa4;
}

