.footer__menu {
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  padding-top: 1.5em;
  padding-bottom: .3em;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__menu-list > li {
  padding-left: 15px;
  transition: .2s color;
}

.footer__menu-list > li:hover,
.footer__menu-list > li:focus {
  color: var(--blue-dark);
}

@media (max-width: 480px) {
  .footer__menu {
    flex-direction: column;
  }

  .footer__menu-list {
    padding-bottom: 1.5em;
  }
}