.header__menu {
  width: 60%;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.header__menu-item {
  width: 22%;
  text-align: center;
}

.header__menu-home {
  width: 12%;
}

.header__menu-item > a {
  display: inline-block;
}

.header__menu-home > a {
  display: block;
}

.header__btn-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header__menu-list {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header__menu-home {
    display: none;
  }

  .header__menu {
    width: 70%;
  }

  .header__menu-item {
    width: auto;
  }
}

@media (max-width: 576px) {
  .header__btn-mobile {
    display: block;
    font-size: 2rem;
    line-height: 0;
    color: var(--blue);
  }

  .header__menu {
    display: none;
  }
}
