.header__logo {
  padding: 15px 0;
  overflow: hidden;
  a {
    display: block;
    height: 100%;
  }
}

.header__logo-img {
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 600px) {
  .header__logo {
    padding-right: 20px;
    a {
      width: 170px;
    }
  }
}

@media (max-width: 576px) {
  .header__logo {
    padding-right: 0;
  }
}