.header__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 16%;
}

.header__social-link {
  margin-right: 15px; 
  transition: .2s color;
}

.header__social-link:hover,
.header__social-link:focus {
  color: var(--tenne);
}

.header__social-link .fa-circle .fa-stack {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .header__social {
    display: none;
  }
}