.header__menu {
  width: 100%;
  border-top: 1px solid;
  padding: 20px;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header__menu-list_right {
  //justify-content: flex-end;
}

.header__menu-list > li {
  padding: 0 25px;
}

.header__menu-list > li > a {
  transition: .2s color;
}

.header__menu-list > li > a:hover,
.header__menu-list > li > a:focus {
  color: var(--tenne);
}

.header__menu-list > li > a {
  display: inline-block;
}

.header__btn-mobile {
  display: none;
  grid-area: button;
}

.sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  box-shadow: var(--shadow);
}

.sub-menu > li {
  margin-left: 0;
  a {
    width: 100%;
    padding: 10px 15px;
    display: block;
  }
}

.sub-menu > li > a:hover {
  background: #ededed;
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children:hover .sub-menu,
.menu-item-has-children:focus .sub-menu {
  display: block;
}

@media (max-width: 1200px) {
  .header__menu-list {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header__menu-list > li {
    width: auto;
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .header__btn-mobile {
    display: block;
    font-size: 2rem;
    line-height: 0;
    color: var(--blue);
  }

  .header__menu {
    display: none;
  }

  .header__menu_mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 12px 2px rgba(0,0,0,.12);
  }

  .header__menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__menu-list > li,
  .header__menu-list > li > a {
    min-width: 100%;
    white-space: nowrap;
  }

  .header__menu-list > li {
    text-align: right;
  }

  .header__menu-list > li > a {
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
  }

  .sub-menu {
    display: block;
    position: relative;
    box-shadow: none;
    background: #eeeeee2e;
  }

  .sub-menu > li > a {
      border-bottom: 1px solid #eee;
      padding: 12px 35px 12px 20px;
  }
}
