.header__menu {
  width: 60%;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.header__menu-item {
  width: 22%;
  text-align: center;
}

.header__menu-home {
  width: 12%;
}

.header__menu-item > a {
  display: inline-block;
}

.header__menu-home > a {
  display: block;
}

.header__btn-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header__menu-list {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header__menu-home {
    display: none;
  }

  .header__menu {
    width: 70%;
  }

  .header__menu-item {
    width: auto;
  }
}

@media (max-width: 576px) {
  .header__btn-mobile {
    display: block;
    font-size: 2rem;
    line-height: 0;
    color: var(--blue);
  }

  .header__menu {
    display: none;
  }

  .header__menu_mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 99;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 12px 2px rgba(0,0,0,.12);
  }

  .header__menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__menu-item,
  .header__menu-item a {
    width: 100%;
  }

  .header__menu-item {
    text-align: right;
  }

  .header__menu-item a {
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
  }
}
