.posts-list-title {
    margin: 1.2em 0;
    background: #ebebeb;
    color: #fff;
    text-align: center;
    border: 1px solid #c0c0c0;
  }
  
.posts-list-title > h2 {
    background: var(--blue);
    display: inline-block;
    font-size: 1.125rem;
    padding: 4px 18px;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
  }