.horoscopes__title {
    margin-bottom: 20px;
}

.horoscopes__tabs {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.horoscopes__item {
    width: 100%;
}

.horoscopes__item > a {
    display: block;
    width: 100%;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
}

a.horoscopes__item_active {
    background: var(--tenne);
    color: #fff;
}

.period-block {
    display: none;
}

.period-daily {
    display: block;
}

.horoscopes__item_active {
    display: block;
    background: var(--tenne);
    color: #fff;
}

.horoscopes__source {
    padding-top: 20px;    
}

.horoscopes__source > a {
    color: var(--tenne);
}

.horoscopes__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.horoscopes__list-item {
    padding: 15px;
    width: 25%;
    text-align: center;
}

.horoscopes__list-item > a {
    opacity: .9;
}

.horoscopes__list-item > a:hover,
.horoscopes__list-item > a:focus {
    opacity: 1;
    color: var(--tenne);
}

.horoscopes__list-item > a > img {
    width: 65%;
}

.horoscopes__list-title {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .horoscopes__list-item {
        width: calc(100% / 3);
    }
}

@media (max-width: 576px) {
    .horoscopes__list-item > a > img {
        width: 90%;
    }
}

@media (max-width: 425px) { 
    .horoscopes__list-item {
        width: 50%;
    }
}