.posts {
  display: grid;
  grid-template-areas:
                      "post1 post2"
                      "post3 post4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.posts__card {
  border: 1px solid var(--blue);
  position: relative;
  color: var(--blue);
  box-shadow: var(--card-shadow);
  display: block;
  background-image: url('img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: none;
  transition: .5s box-shadow cubic-bezier(0.18, 0.89, 0.32, 1.28)
}

.posts__card:hover,
.posts__card:focus {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.33) inset;
}

.posts__card-link {
  width: 100%;
  height: 100%;
  display: block;
}

.posts__card-category {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  color: var(--blue);
  transition: .2s background, color;
  line-height: 1.4;
  height: 1.4em;
  overflow: hidden;
  border-bottom: 1px solid var(--blue);
  border-left: 1px solid var(--blue);
}

.posts__card-category > a {
  display: block;  
  padding: 0 8px;
}

.posts__card-category:focus,
.posts__card-category:hover {
  color: #fff;
  background: var(--blue);
}

.posts__card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  padding: 12px 18px;
}

.posts__card-title {
  transition: .2s color;
  line-height: 1.5;
  max-height: 3em;
  overflow: hidden;
  font-weight: normal;
}

.posts__card-title:hover,
.posts__card-title:focus {
  color: var(--blue-light);
}

.posts__card-date {
  color: #eee;
  font-size: .8em;
}

.posts__card-comments {
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .posts {
      grid-template-areas:
                      "post1"
                      "post2"
                      "post3"
                      "post4";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 200px);
  }
}