.header__search {
  width: 16%;
}

.search-form {
  border: 1px solid var(--blue);
  border-radius: 4px;
  display: flex;
  padding: 4px;
  box-shadow: var(--shadow);
}

.search-form__input {
  width: 100%;
  border: 0;
  background: transparent;
}

.search-form__submit {
  color: var(--blue);
  background: transparent;
  cursor: pointer;
}

.search-form__submit:hover,
.search-form__submit:focus {
  color: var(--blue-dark);
}

@media (max-width: 768px) {
  .header__search {
    width: 22%;
  }
}

@media (max-width: 576px) {
  .header__search {
    width: 50%;
  }
}