.header__search {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.search-form {
  border-bottom: 1px solid var(--blue);
  padding: 4px;
  width: 100%;
}

.search-form__input {
  width: 100%;
  border: 0;
  background: transparent;
}

.search-form__submit {
  color: var(--blue);
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.search-form__submit:hover,
.search-form__submit:focus {
  color: var(--blue-dark);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}