.header {
  border-bottom: 1px solid var(--blue);
  padding: 0;
  display: grid;
  grid-template-areas:
                      "social logo search"
                      "menu menu menu";
  grid-template-columns: repeat(3, 1fr);
  color: var(--blue);
  position: relative;
  text-align: center;
}

.header__social {
  grid-area: social;
}

.header__menu-home {
  grid-area: logo;
}

.header__search {
  grid-area: search;
}

.header__menu {
  grid-area: menu;
}

@media (max-width: 600px) {
  .header {
    grid-template-areas:
                        "logo search"
                        "menu menu";
    grid-template-columns: 1fr auto;
  }
}

@media (max-width: 578px) {
  .header {
    grid-template-areas:
                        "logo search button";
    grid-template-columns: 1fr auto auto;
    padding-left: 20px;
    padding-right: 15px;
  }

  .header {
    height: 78px;
  }

  .header_mobile {
    grid-template-columns: 0 auto auto;
  }
}