.header {
  border-bottom: 1px solid var(--blue);
  padding: 0;
  display: grid;
  grid-template-areas:
                      "logo menu search";
  grid-template-columns: 270px auto 1fr;
  align-items: center;
  color: var(--blue);
  position: relative;
  height: 100px;
}

.header__social {
  grid-area: social;
}

.header__menu-home {
  grid-area: logo;
}

.header__search {
  grid-area: search;
}

.header__menu {
  grid-area: menu;
}

@media (max-width: 600px) {
  .header {
    grid-template-areas:
                        "logo search"
                        "menu menu";
    grid-template-columns: 1fr auto;
    height: 145px;
  }
}

@media (max-width: 576px) {
  .header {
    grid-template-areas:
                        "logo search button";
    grid-template-columns: 1fr auto auto;
    padding-left: 20px;
    padding-right: 15px;
  }

  .header {
    height: 78px;
  }

  .header_mobile {
    grid-template-columns: 0 auto auto;
  }
}