.header {
  border-bottom: 1px solid var(--blue);
  padding: 0;
  display: grid;
  grid-template-areas:
                      "social logo search"
                      "menu menu menu";
  grid-template-columns: repeat(3, 1fr);
  color: var(--blue);
  position: relative;
  text-align: center;
}

.header__social {
  grid-area: social;
}

.header__menu-home {
  grid-area: logo;
}

.header__search {
  grid-area: search;
}

.header__menu {
  grid-area: menu;
}

@media (max-width: 576px) {
  .header {
    padding: 10px 15px;
    grid-template-areas:
                        "button logo search"
  }
}