.sidebar__widget-title {
  line-height: 2rem;
  background: var(--blue);
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.sidebar__posts-card {
  display: flex;
  padding: 10px 0;
}

.sidebar__posts-tumb {
  border: 1px solid #aaa;
  height: 75px;
  width: 30%;
  display: block;
}

.sidebar__posts-tumb > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sidebar__posts-text {
  width: 70%;
  padding-right: 15px;
}

.sidebar__posts-title {
  color: var(--blue);
  font-size: 1rem;
  transition: .2s color;
  font-weight: normal;
  line-height: 1.2;
}

.sidebar__posts-title:hover,
.sidebar__posts-title:focus {
  color: var(--tenne);
}

.sidebar__posts-date {
  color: #aaa;
  font-size: .875rem;
}

.sidebar__posts-more {
  text-align: center;
  color: #fff;
}

.sidebar__posts-more-link {
  background: var(--blue);
  font-size: .875rem;
  padding: 0 15px;
  transition: .2s background;
}

.sidebar__posts-more-link:hover,
.sidebar__posts-more-link:focus {
  background: var(--tenne);
}

.sidebar__top-posts {
  padding-top: 35px;
}

.sidebar__header-top-posts {
  margin-bottom: 20px;
}

.sidebar__top-posts-item {
  color: var(--blue);
  padding-bottom: 6px;
}

.sidebar__top-posts-item > h3 {
  padding: 10px 0;
}

.sidebar__top-posts-item > h3:hover,
.sidebar__top-posts-item > h3:focus {
  color: var(--tenne);
}

.sidebar__top-posts-card.posts__card {
  height: 160px;
  box-shadow: none;
}